[Unit]
Description=carbon-cache instance %i (graphite)

[Service]
User=graphite
Group=graphite
ExecStart=/usr/bin/python /usr/bin/carbon-cache.py --config=/etc/graphite/carbon.conf --instance=%i start
Type=forking
PIDFile=/var/run/graphite/carbon-cache-%i.pid

[Install]
WantedBy=multi-user.target
